.color-for-head-index {
  color: #2fbb2f;
}

.color-for-head-about_me {
  color: #1717d3;
}

.color-for-head-heads_or_tails {
  color: #e71313;
}

.color-for-head-playing_dice {
  color: #824a91;
}

.get_all_articles {
  color: #afcc39;
}

.color-for-head-get_all_articles_author_name {
  color: #2dbebe;
}

.color-for-head-see_article_by_id {
  color: #fa8989;
}
